{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Note lists</title>
        <link rel="stylesheet" href="{% static 'card.css' %}"/>
        <link rel="stylesheet" href="{% static 'navbar.css' %}" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet'>
    </head>
    <body>
        {% include 'navbar.html' %}
        <div id='container'>
            {% for note in Notes %}
            <div class='card'>
                <div class="title">
                    <h3>{{ note.title }}</h3>
                </div>
                <div class="identity">
                    <p>From: {{ note.From }}</p>
                    <p>To: {{ note.to }}</p>
                </div>
                <div class="message">
                    <p>{{ note.message }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </body>
</html>