{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Note Lists</title>
        <link rel="stylesheet" href="{% static 'label.css' %}"/>
        <link rel="stylesheet" href="{% static 'navbar.css' %}"
    </head>
    <body>
        {% include 'navbar.html' %}
        <table>
            <tr>
                <th>title</th>
                <th>from</th>
                <th>to</th>
                <th>message</th>
            </tr>
                {% for note in Notes %}
                    <tr>
                        <td>{{ note.title }}</td>
                        <td>{{ note.From }}</td>
                        <td>{{ note.to }}</td>
                        <td>{{ note.message }}</td>
                    </tr>
                {% endfor %}
        </table>
    </body>
</html>