{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Note Form</title>
        <link rel="stylesheet" href="{% static 'form.css' %}"/>
        <link rel="stylesheet" href="{% static 'navbar.css' %}"/>
    </head>
    <body>
        {% include 'navbar.html' %}
        <form action="" method="POST">
            {% csrf_token %}
            <h2>Write your message down below</h2>
            <ul>
            {{ form }}
            <li><input type="submit"/></li>
            </ul>
        </form>
    </body>
</html>