<div class="navbar">
    <ul>
        <li>
            <a href="/lab-4">Note Table</a>
            <a href="/lab-4/add-note">Note Form</a>
            <a href="/lab-4/note-list">Note Card</a>
        </li>
    </ul>
</div>