<!DOCTYPE html>
<html>
    <head>
        <title>
            My Friends table
        </title>
    </head>
    <body>
        {% if friends %}
        <table>
            <tr>
                <td>
                    Name
                </td>
                <td>
                    NPM
                </td>
                <td>
                    Date of birth
                </td>
            </tr>
            {% for friend in friends %}
            <tr>
                <td>
                    {{ friend.Name }}
                </td>
                <td>
                    {{ friend.NPM }}
                </td>
                <td>
                    {{ friend.Date_of_Birth}}
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </body>
</html>