<!DOCTYPE html>
<html>
    <head>
        <title>
            Friend Form
        </title>
    </head>
    <body>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit"/>
        </form>
    </body>
</html>