<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <table>
            <tr>
                <td>From</td>
                <td>To</td>
                <td>Title</td>
                <td>Message</td>
            </tr>
                {% for note in Notes %}
                    <tr>
                        <td>{{ note.From }}</td>
                        <td>{{ note.to }}</td>
                        <td>{{ note.title }}</td>
                        <td>{{ note.message }}</td>
                    </tr>
                {% endfor %}
        </table>
    </body>
</html>