:root
{
    --bottom: #B24080;
    --title: #ECAC5D;

}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
#container
{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;

}
.card {
    border: 1px solid black;
    border-radius: 17px;
    box-shadow: 1px 1px 2px #888888;
    margin: 8px 8px;
    width: 320px;
    height: 480px;
    background-color: var(--bottom);
    color: white;
    font-family: sans-serif;
    flex-grow: 0;
}
.card:hover{
    box-shadow: 3px 3px 4px #888888;
}
.title
{
    padding-top: 10px;

}
.title h3{
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    text-align: center;
    margin: 0px;
    font-size: 1.5em;
}
.identity p
{
    padding: 0px 2px;
    text-align: center;
    margin: 2px;
    background-color: white;
    color:#9832a8;
    border-top: 1px solid #9832a8;
    border-bottom: 1px solid #9832a8;
    font-family: 'Noto Sans';
}
.message p{
    margin: 5px 0px 0px;
    text-indent: 2em;
    font-family: 'Noto Sans';
}