@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
form{
    border:1px solid black;
    width: 400px;
    padding: 40px;
    background-color: #b2ad7f;
    border-radius: 5px;
}
ul{
    padding: 0px;
    margin: 0px;
}
h2{
    text-align: center;
}
li{
    display: block;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 4px;
}
label{
    display: block;
    font-size: .9em;
    color: white;
}
input, textarea{
    width: 100%;
}
input[type="text"], textarea{
    border: 1px solid black;
    font-family: 'Noto Sans', sans-serif;
}
textarea{
    border-radius: 6px;
}
input[type="text"]{
    border-radius: 3px;
    height: 1.5em;
}
input[type="submit"]{
    cursor: pointer;
    background-color: #878f99;
    height: 100%;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 1px 1px #888888;
    color: white;
}
input[type="submit"]:hover{
    box-shadow: 1.5px 1.5px #888888;
}
#submit{
    height: 25px;
}