/*This code taken from https://www.w3schools.com/css/tryit.asp?filename=trycss_table_fancy*/

body{
    font-family: Verdana, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
table{
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}
th, td{
    border: 1px solid #ddd;
    padding: 8px;
}
th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
    text-transform: capitalize;
}
tr:nth-child(2n)
{
    background-color: #f2f2f2;
}
tr:hover{
    background-color: #ddd;
}