.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:450px;
    background-color: black;
    margin:0px 0px 5px 0px;
    height: 40px;
    border: 1px solid white;
    border-radius: 5px;
}
.navbar ul{
    display: inline;
    list-style-type: none;
    padding: 0px;
}
a{
    color: white;
    text-decoration: none;
    margin: 0px 30px 0px 30px;
    font-family: Verdana, sans-serif;
}
a:hover{
    text-decoration:underline;
}